html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.homeBackground {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/image/back1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
    width: 100%;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}
/*Bus list*/
/*.BusStop {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/image/bus-stop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
    width: 100%;*/
}
/* Admin Section */
.AdminBtn {
    height: 40px;
    width: 200px;
}

/*user css*/

.scrollable-table {
    max-height: 300px;
    overflow-y: auto;
}